<div id="<%= dom_id call %>">
  <p>
    <strong>Title:</strong>
    <%= call.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= call.description %>
  </p>

  <p>
    <strong>Begin date:</strong>
    <%= call.begin_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= call.end_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= call.status %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= call.client_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= call.user_id %>
  </p>

</div>
