<div id="<%= dom_id profile %>">
  <p>
    <strong>Fullname:</strong>
    <%= profile.fullname %>
  </p>

  <p>
    <strong>Register:</strong>
    <%= profile.register %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= profile.department %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= profile.email %>
  </p>

  <p>
    <strong>Profile type:</strong>
    <%= profile.profile_type_id %>
  </p>

</div>
