<aside class="sidebar">
    <div class="perfil">
        <li class="foto"><%= image_tag "Foto_de_perfil.png" %></li>
        <p class="name">Níkollas David</p>
    </div>
    <ul> 
        <div class="linha" title="Funcionários">
            <li><%= link_to (image_tag "Funcionarios.svg"), "/admin/new_profile" %></li>
        </div>
        <div class="linha" title="Clientes">
            <li><%= link_to (image_tag "Clientes.svg"), "/admin/new_client" %></li> 
        </div>
        <div class="linha" title="Protocolos">
            <li><%= link_to (image_tag "Protocolos.svg"), "/admin/new_call" %></li>
        </div>
        <div class="linha" title="Avisos">
            <li><%= image_tag "Avisos.svg" %></li>
        </div>
        <div class="linha2" title="Sair">
            <li class="logout"><%= link_to (image_tag "Logout.svg"), "/login" %></li>
        </div>
    </ul>
</aside>