<aside class="sidebar">
    <div class="perfil">
      <div class="photo"><%= image_tag "Foto_de_perfil.png" %></div>
      <p class="name">Níkollas David</p>
    </div>
    <ul> 
      <li class="link" title="Funcionários" ><%= link_to (image_tag "Funcionarios.svg"), profiles_path %></li>
      <li class="link" title="Clientes"><%= link_to (image_tag "Clientes.svg"), clients_path %></li> 
      <li class="link" title="Protocolos"><%= link_to (image_tag "Protocolos.svg"), calls_path %></li>
      <li class="link" title="Avisos"><%= link_to (image_tag "Avisos.svg"), "#" %></li>
      <li class="link" title="Sair"><%= link_to (image_tag "Logout.svg"), login_path %></li>
    </ul>
</aside>

