<div id="<%= dom_id client %>">
  <p>
    <strong>Fullname:</strong>
    <%= client.fullname %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= client.cpf %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= client.cnpj %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= client.street %>
  </p>

  <p>
    <strong>House number:</strong>
    <%= client.house_number %>
  </p>

  <p>
    <strong>City:</strong>
    <%= client.city %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= client.cep %>
  </p>

</div>
