<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href=<%= image_path('Icon.svg')%> type="image/svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <title>Lysitech</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <div class="wrapper">
      <%= render "shared/sidebar_admin"%> 
      <main class="app-container">
        <%= yield %>
      </main>
    </div>
    
    <%= javascript_include_tag params[:controller] %>
  </body>
</html>
