<!DOCTYPE html>
<html>
  <head>
    <title>Lysitech</title>
    <link rel="shortcut icon" href=<%= image_path('Icon.svg')%> type="image/svg" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag params[:controller], "data-turbo-track": "reload" %>

  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag params[:controller] %>

  </body>
</html>