<form action="/login/<%= perfil.id%>" method="post" >
  <input type="hidden" name="_method" value="patch" autocomplete="off">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" autocomplete="off">
  <h1> Cadastro</h1>
  <%= link_to "Fazer login com o novo usuario", root_path %>
  <div class="c-dados-pessoais">
    <h2>Dados pessoais</h2>
    <div class="c-dados-pessoais-nome">
      <label for="nome" >Nome</label>
      <input id="nome" type="text" name="perfil[nome]" value="<%= perfil.nome or ""%>" disabled/>
    </div>
    <div class="group-0">
      <div class="c-dados-pessoais-cpf">
        <label for="cpf">CPF</label>
        <input id="cpf" type="text" name="perfil[cpf]" value="<%= perfil.cpf or ""%>" disabled/>
      </div>
      <div class="c-dados-pessoais-nascimento">
        <label for="dt-nascimento">Data Nascimento</label>
        <input id="dt-nascimento" type="date" name="perfil[dt_nascimento]" value="<%= perfil.dt_nascimento or ""%>" disabled />
      </div>
      <div class="c-dados-pessoais-sexo">
        <p>Sexo</p>
        <div class="sexo">
          <div>
            <input type="radio" id="masculino" name="perfil[sexo]" value="masculino" <%= "checked" if perfil.sexo == "masculino"%> disabled />
            <label for="masculino">masculino</label>
          </div>
          <div>
            <input type="radio" id="feminino" name="perfil[sexo]" value="feminino" <%= "checked" if perfil.sexo == "feminino" %> disabled />
            <label for="feminino">feminino</label>
          </div>
        </div>
      </div>    
    </div>
    <div class="group-1">
      <div class="c-dados-pessoais-email">
          <label for="email">Email</label>
          <input id="email" type="text" name="perfil[email]" value="<%= perfil.email or ""%>" disabled/>
      </div>
      <div class="c-dados-pessoais-email">
          <label for="tel">Telefone</label>
          <input id="id" type="text" name="perfil[telefone]" value="<%= perfil.telefone or ""%>" disabled/>
      </div>
      <div class="c-dados-pessoais-cargo">
          <label for="cargo">Cargo</label>
          <input 
            id="cargo" 
            type="text" 
            name="perfil[cargo]" 
            value="<%= perfil.cargo or ""%>"
            disabled  
          />
      </div>
      <div class="c-dados-pessoais-departamento">
          <label for="depart">Departamento</label>
          <input 
            id="depart" 
            type="text" 
            name="perfil[departamento]" 
            value="<%= perfil.departamento or ""%>" 
            disabled
          />
      </div>
    </div>
  </div>

  <div class="c-endereco">
    <h2>Endereço</h2>
    <div class="group-2">
      <div class="c-endereco-rua">
        <label for="rua">Rua</label>
        <input id="id" type="text" name="perfil[rua]" value="<%= perfil.rua or ""%>" disabled />
      </div>
      <div class="c-endereco-numero">
        <label>Número</label>
        <input type="text" name="perfil[numero]" value="<%= perfil.numero or ""%>" disabled/>
      </div>
      <div class="c-endereco-bairro">
        <label>Bairro</label>
        <input type="text" name="perfil[bairro]" value="<%= perfil.bairro or ""%>" disabled />
      </div>    
    </div>
    <div class="group-3">
      <div class="c-endereco-cep">
        <label>Cep</label>
        <input type="text" name="perfil[cep]" value="<%= perfil.cep or ""%>" disabled />
      </div>
      <div class="c-endereco-cidade">
        <label>Cidade</label>
        <input type="text" name="perfil[cidade]" value="<%= perfil.cidade or ""%>" disabled/>
      </div>
      <div class="c-endereco-uf">
        <label>UF</label>
        <input type="text" name="perfil[uf]" value="<%= perfil.uf or ""%>" disabled />
      </div>
    </div>
  </div>
  
  <div class="c-login">
    <h2>Login</h2>
    <div class="group-4">
      <div class="c-login-usuario">
        <label>Usuario</label>
        <input type="text" name="user[usuario]" value="<%= user.usuario or ""%>" disabled/>
      </div>

      <div class="c-login-senha">
        <label>Senha</label>
        <input type="text"  name="user[senha]" value="<%= user.senha or ""%>" disabled/>
      </div>
    </div>
  </div>
    <div class="c-login">
      <div class="group-5">
        <div class="c-login-gestor">
          <p>Usuario Administrador?</p>
          <div class="gestor">
            <div>
              <input type="radio" id="sim" name="user[gestor]" value="true" <%= "checked" if user.gestor == true %> disabled/>
              <label for="sim">Sim</label>
            </div>
            <div>
              <input type="radio" id="nao" name="user[gestor]" value="false" <%= "checked" if user.gestor == false %> disabled/>
              <label for="nao">Não</label>
            </div>
          </div>
        </div>  

        <div class="c-login-ativo">
          <p>Usuario ativo?</p>
          <div class="ativo">
            <div>
              <input type="radio" id="sim" name="user[ativo]" value="true" <%= "checked" if user.ativo %> disabled/>
              <label for="sim">Sim</label>
            </div>
            <div>
              <input type="radio" id="nao" name="user[ativo]" value="false" <%= "checked" if !user.ativo %> disabled/>
              <label for="nao">Não</label>
            </div>
          </div>
        </div>  
      </div>
    </div>
</form>
<div class="c">
  <%= link_to "Editar", edit_login_path(perfil), class: "editar"%>
</div>