<section>
    <div class="logo">
        <p> <%= image_tag "Logo.svg" %></p>
    </div>
    <div ><%= notice%></div>
    <div class="login">
        <%= form_with url: "/dashboard/exist", method: :post do |f| %>
            <%= f.label :username, 'Usuario' %>
            <%= f.text_field :username, placeholder:'Usuario', class: 'caixa' %>
            <%= f.label :userpassword, 'Senha' %>
            <%= f.password_field :userpassword, placeholder: "Senha", class: 'caixa' %>
            <%= f.submit "Entrar", class: 'btn-submit' %>
        <% end %>
    </div>
</section>
