<%= form_with(model: telefone_perfil) do |form| %>
  <% if telefone_perfil.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(telefone_perfil.errors.count, "error") %> prohibited this telefone_perfil from being saved:</h2>

      <ul>
        <% telefone_perfil.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :numero_tel, style: "display: block" %>
    <%= form.text_field :numero_tel %>
  </div>

  <div>
    <%= form.label :perfil_id, style: "display: block" %>
    <%= form.text_field :perfil_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
