<p style="color: green"><%= notice %></p>

<%= render @telefone_perfil %>

<div>
  <%= link_to "Edit this telefone perfil", edit_telefone_perfil_path(@telefone_perfil) %> |
  <%= link_to "Back to telefone perfils", telefone_perfils_path %>

  <%= button_to "Destroy this telefone perfil", @telefone_perfil, method: :delete %>
</div>
