<%= form_with model: profile, class: "edicao-perfil" do |f| %>

  <%= link_to (image_tag "voltar.svg", class: "voltar"), perfils_path %>

  <div class="top">
      <h2>Informações Pessoais</h2>
      <div class="photo"><%= image_tag "Foto_de_perfil.png" %></div>

  </div>

  <div class="info-pessoais">
      <%= f.label "Nome completo", class:"labelnomecompleto" %>
      <%= f.text_field :nome, class: "inputnomecompleto" %>
      <%= f.label "CPF" , class: "labelcpf" %>
      <%= f.text_field :cnpj, class: "inputcpf" %>
  </div>

  <div class="info-pessoais">
      <%= f.label "Data de nascimento" ,class:"labeldatanascimento" %>
      <%= f.date_field :dt_nascimento, class: "inputdatanascimento" %>
      <%= f.label "Email", class: "labelemail" %>
      <%= f.text_field :email, class: "inputemail" %>
  </div>

  <div class="info-pessoais">
      <%= f.label "Telefone", class: "labeltelefone" %>
      <%= f.text_field :numero_tel, class: "inputtelefone" %>
  </div>

  <div class="top">
      <h2>Endereço</h2>
  </div>

  <div class="endereco">
      <%= f.label 'Rua', class:"labelrua" %>
      <%= f.text_field :rua, class:"inputrua" %>
      <%= f.label 'N°', class:"labelnumerocasa" %>
      <%= f.text_field :numero, class: "inputnumerocasa" %>
      <%= f.label 'Bairro', class:"labelrua" %>
      <%= f.text_field :bairro, class:"inputrua" %>
  </div>
  <div class="endereco">
      <%= f.label "Cidade", class: "labeluf" %>
      <%= f.text_field :cidade, class:"inputuf"%>
      <%= f.label 'CEP', class:"labelcep" %>
      <%= f.text_field :cep, class: "inputcep"%>
  </div>

  <div class="top">
      <h2>Informações Cadastrais</h2>
  </div>

  <div class="info-cadastrais">
      <%= f.label 'Usuario', class: "labelusuario" %>
      <%= f.text_field :usuario,  value: user ? user.username : '', class: "inputusuario" %>
      <%= f.label 'Cargo', class: "labelcargo" %>
      <%= f.text_field :cargo, class: "inputcargo" %>
      <%= f.label 'Tipo', class:"labelid" %>
      <%= f.text_field :tipo_perfil_id, class:"inputid" %>
  </div>

  <div class="info-cadastrais">
      <%= f.label 'Departamento', class:"labelsalario" %>
      <%= f.text_field :departamento, class:"inputsalario" %>
      <%= f.label 'Senha', class: "labelsenha" %>
      <%= f.text_field :senha, value: user ? user.senha : '',  class:"inputsenha" %>
  </div>
  
  <div class="finalizar-edicao">
      <%= f.submit "Cadastrar funcionário"%>
  </div>
<% end %>