<div id="<%= dom_id perfil %>">
  <p>
    <strong>Nome:</strong>
    <%= perfil.nome %>
  </p>

  <p>
    <strong>Dt nascimento:</strong>
    <%= perfil.dt_nascimento %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= perfil.cpf %>
  </p>

  <p>
    <strong>Cargo:</strong>
    <%= perfil.cargo %>
  </p>

  <p>
    <strong>Departamento:</strong>
    <%= perfil.departamento %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= perfil.email %>
  </p>

  <p>
    <strong>Rua:</strong>
    <%= perfil.rua %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= perfil.numero %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= perfil.bairro %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= perfil.cep %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= perfil.cidade %>
  </p>

  <p>
    <strong>Uf:</strong>
    <%= perfil.uf %>
  </p>

  <p>
    <strong>Tipo perfil:</strong>
    <%= perfil.tipo_perfil_id %>
  </p>

</div>
