
  <section>
      <h1>Funcionários</h1>
      <%= link_to (image_tag "add.svg"), new_perfil_path %>

          <div class="c-pesquisa">
            <input type="text"  placeholder="Pesquise aqui..."/>
            <%= image_tag "Pesquisa.svg" %>
          </div>

      <table>
        <thead>
          <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Cargo</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Ver</th>

          </tr>
        </thead>
        <tbody>
        
          <% @perfils.each do |perfil| %>    
              <tr>               
                <td><%= perfil.id %></td>
                <td><%= perfil.nome %></td>
                <td><%= perfil.cargo %></td>
                <td><%= perfil.email %></td>
                <td><%= perfil.telefone %></td>
                <td><%= link_to "visualizar" , perfil %></td>
              </tr>
          <% end %>

        </tbody>
      </table>

      
      
  </section>
