<p style="color: green"><%= notice %></p>

<%= render @telefone_cliente %>

<div>
  <%= link_to "Edit this telefone cliente", edit_telefone_cliente_path(@telefone_cliente) %> |
  <%= link_to "Back to telefone clientes", telefone_clientes_path %>

  <%= button_to "Destroy this telefone cliente", @telefone_cliente, method: :delete %>
</div>
