<h1>Abertura de Chamado</h1>
<%= form_with(model: ordem_servico, class: 'form') do |form| %>
  <h3>Chamado</h3>
  <div class="group-1">
    <div>
      <%= form.label :titulo %>
      <%= form.text_field :titulo %>
    </div>
    
    <div>
      <%= form.label :categoria %>
      <%= form.text_field :categoria %>
    </div>
    
    <div>
      <%= form.label :dt_abertura %>
      <%= form.datetime_local_field :dt_abertura, disabled: true %>
    </div>
  </div>

  <h3>Cliente</h3>
  <div class="group-2">
    <div>
      <label for="ordem_servico_cliente_id">Codigo</label>
      <%= form.text_field :cliente_id, disabled: true %>
    </div>
    <div>
      <label>Razão Social</label>
      <input type="text" value="<%= cliente ? cliente.razao_social : " " %>" disabled />
    </div>
    <div>
      <label>Nome Fantasia</label>
      <input type="text" value="<%= cliente ? cliente.nome_fantasia : " " %>" disabled />
    </div>
  </div>

  <div class="group-3">
    <div>
      <label for="ordem_servico_descricao">Descrição do Problema</label>
      <%= form.text_area :descricao %>
    </div>

    <div>
      <label for="ordem_servico_solucao">Procedimento Realizado</label>
      <%= form.text_area :solucao %>
    </div>
  </div>

  <div class="group-4">
    <div>
      <label for="ordem_servico_perfil_id">Tecnico</label>
      <input id="ordem_servico_perfil_id" name="ordem_servico[perfil_id]" value="<%= perfil ? perfil.id : " "%>" disabled />
    </div>

    <div>
      <label for="perfil">Nome</label>
      <input id="perfil" type="text" value="<%= perfil ? perfil.nome : " "%>" disabled />
    </div>
  
    <div>
      <label for="ordem-servico">Status</label>
      <select name="ordem_servico[estatus]" id="ordem-servico" >
        <% if ordem_servico.estatus == 3 %>
          <option value="3">Concluido</option>
          <option value="1">Aberto</option>
          <option value="2">Em andamento</option>
        <% elsif ordem_servico.estatus == 2      %>
          <option value="2">Em andamento</option>
          <option value="1">Aberto</option>
          <option value="3">Concluido</option>
        <% else%>
          <option value="1">Aberto</option>
          <option value="2">Em andamento</option>
          <option value="3">Concluido</option>
        <% end %>
        
      </select>
    </div>

    <div>
      <%= form.label :dt_encerramento %>
      <%= form.datetime_local_field :dt_encerramento %>
    </div>
  </div>


  <div class="submit">
      <input type="submit" value="Atualizar chamado"/>
  </div>
<% end %>
