<div id="<%= dom_id ordem_servico %>">
  <p>
    <strong>Titulo:</strong>
    <%= ordem_servico.titulo %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= ordem_servico.categoria %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= ordem_servico.descricao %>
  </p>

  <p>
    <strong>Solucao:</strong>
    <%= ordem_servico.solucao %>
  </p>

  <p>
    <strong>Estatus:</strong>
    <%= ordem_servico.estatus %>
  </p>

  <p>
    <strong>Dt abertura:</strong>
    <%= ordem_servico.dt_abertura %>
  </p>

  <p>
    <strong>Dt encerramento:</strong>
    <%= ordem_servico.dt_encerramento %>
  </p>

  <p>
    <strong>Perfil:</strong>
    <%= ordem_servico.perfil_id %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= ordem_servico.cliente_id %>
  </p>

</div>
