
  <section class="chamados">
      <h1>Chamados</h1>
      <%= link_to (image_tag "plus.svg"), new_ordem_servico_path, class: 'new' %> 
      <div class="c-pesquisa">
        <input type="text" placeholder="Pesquise aqui..."/>
        <%= image_tag "Pesquisa.svg" %>
      </div>
     

      <table>
        <thead>
          <tr>
            <th>Código</th>
            <th>Data Abertura</th>
            <th>Chamado</th>
            <th>Estatus</th>
            <th>Data Encerramento</th>
            <th>Ver</th>

          </tr>
        </thead>
        <tbody>
          <% @ordem_servicos.each do |ordem_servico| %>    
              <tr>               
                <td><%= ordem_servico.id %></td>
                <td>
                  <%= ordem_servico.dt_abertura.strftime("%d/%m/%Y %H:%M:%S") if ordem_servico.dt_abertura %>
                </td>
                <td><%= ordem_servico.titulo %></td>
                <td>
                  <% if ordem_servico.estatus == 1 %>
                      Aberto
                  <% elsif ordem_servico.estatus == 2 %>
                      Em andamento
                  <% else%>
                      Concluido
                  <% end %>
                </td>
                <td>
                  <%= ordem_servico.dt_encerramento.strftime("%d/%m/%Y %H:%M:%S") if ordem_servico.dt_encerramento %>
                </td>
                <td><%= link_to (image_tag 'eye.png') , ordem_servico %></td>
              </tr>
          <% end %>
        </tbody>
      </table>

  </section>
