<%= form_with(model: cliente) do |f| %>
  <h1> Cadastro Cliente</h1>
  <div class="c-dados-pessoais">
    <h2>Dados pessoais</h2>
    <div class="group-1">
      <div class="c-dados-pessoais-email">
        <label for="cliente_razao_social">Razão Social</label>
        <%= f.text_field :razao_social, disabled: true %>
      </div>
      <div class="c-dados-pessoais-telefone">
        <label for="cliente_nome_fantasia">Nome Fantasia</label>
        <%= f.text_field :nome_fantasia, disabled: true %>
      </div>
      <div class="c-dados-pessoais-cargo">
        <label for="cliente_cnpj">CNPJ</label>
          <%= f.text_field :cnpj, disabled: true %>
      </div>
      <div class="c-dados-pessoais-departamento">
        <label for="cliente_inscr_estadual">I.E</label>
        <%= f.text_field :inscr_estadual, disabled: true %>
      </div>
    </div>
    <div class="group-0">
      <div class="c-dados-pessoais-cpf">
        <%= f.label :email %>
        <%= f.text_field :email, disabled: true %>
      </div>
      <div class="c-dados-pessoais-nascimento">
        <%= f.label :telefone %>
        <%= f.text_field :telefone, disabled: true %>
      </div>
       <div class="c-login-ativo">
        <p>Cliente Ativo?</p>
        <div class="ativo">
          <div>
            <input type="radio" id="sim" name="cliente[ativo]" value="true" <%= "checked" if cliente.ativo%> disabled />
            <label for="sim">Sim</label>
          </div>
          <div>
            <input type="radio" id="nao" name="cliente[ativo]" value="false" <%= "checked" if !cliente.ativo%> disabled />
            <label for="nao">Não</label>
          </div>
        </div>
      </div>  
    </div>
    
  </div>

  <div class="c-endereco">
    <h2>Endereço</h2>
    <div class="group-2">
      <div class="c-endereco-rua">
        <%= f.label :rua %>
        <%= f.text_field :rua, disabled: true %>
      </div>
      <div class="c-endereco-numero">
        <label for="cliente_numero">Número</label>
        <%= f.text_field :numero, disabled: true %>
      </div>
      <div class="c-endereco-bairro">
        <%= f.label :bairro %>
        <%= f.text_field :bairro, disabled: true %>
      </div>    
    </div>
    <div class="group-3">
      <div class="c-endereco-cep">
        <label for="cliente_cep">CEP</label>
        <%= f.text_field :cep, disabled: true %>
      </div>
      <div class="c-endereco-cidade">
        <%= f.label :cidade %>
        <%= f.text_field :cidade, disabled: true %>
      </div>
      <div class="c-endereco-uf">
        <label for="cliente_uf">UF</label>
        <%= f.text_field :uf, disabled: true %>
      </div>
    </div>
  </div>
  <div class="c-observacao">
    <h2>Observação</h2>
    <label for="cliente_observacao">Digitar:</label>
    <%= f.text_area :observacao, disabled: true %>
  </div>

<% end %>

<% if @usuario_logado.gestor%>
  <div class="c">
    <%= link_to "Editar", edit_cliente_path(cliente), class: "editar"%>
    <%= button_to "Excluir", cliente, method: :delete, class: "excluir" %>
  </div>
<% end %>