<div id="<%= dom_id cliente %>">
  <p>
    <strong>Cnpj:</strong>
    <%= cliente.cnpj %>
  </p>

  <p>
    <strong>Inscr estadual:</strong>
    <%= cliente.inscr_estadual %>
  </p>

  <p>
    <strong>Razao social:</strong>
    <%= cliente.razao_social %>
  </p>

  <p>
    <strong>Nome fantasia:</strong>
    <%= cliente.nome_fantasia %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= cliente.email %>
  </p>

  <p>
    <strong>Rua:</strong>
    <%= cliente.rua %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= cliente.numero %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= cliente.bairro %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= cliente.cep %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= cliente.cidade %>
  </p>

  <p>
    <strong>Uf:</strong>
    <%= cliente.uf %>
  </p>

  <p>
    <strong>Observacao:</strong>
    <%= cliente.observacao %>
  </p>

</div>
