<%= form_with(model: cliente, class: "edicao-perfil") do |f| %>
    <%= link_to (image_tag "voltar.svg", class: "voltar"), cliente %>


  <div class="top">
      <h2>Informações Pessoais</h2>
      <div class="photo"><%= image_tag "Foto_de_perfil.png" %></div>
      
  </div>

  <div class="info-pessoais">
    <%= f.label 'Razão Social', :razao_social, class: 'labelnomecompleto' %>
    <%= f.text_field :razao_social, class: 'inputnomecompleto' %>
    <%= f.label 'CNPJ', :cnpj, class: 'labelcpf' %>
    <%= f.text_field :cnpj, class: 'inputcpf' %>
  </div>

  <div class="info-pessoais">
    <%= f.label 'I.E', :inscr_estadual, class:"labeldatanascimento" %>
    <%= f.text_field :inscr_estadual, class:"inputdatanascimento" %>
    <%= f.label 'Email', :email, class:"labelemail" %>
    <%= f.email_field :email, class:"inputemail" %>
  </div>

  <div class="info-pessoais">
    <%= f.label 'Nome Fantasia', :nome_fantasia, class:"labeltelefone" %>
    <%= f.text_field :nome_fantasia, class:"inputtelefone" %>
  </div>

  <div class="endereco">
    <%= f.label 'Rua', :rua, class:"labelrua" %>
    <%= f.text_field :rua, class:"inputrua" %>
    <%= f.label 'Cep', :cep, class:"labelcep" %>
    <%= f.text_field :cep, class:"inputcep" %>
    <%= f.label 'UF', :uf, class:"labeluf" %>
    <%= f.text_field :uf, class:"inputuf" %>
  </div>

  <div class="endereco" >
    <%= f.label 'N°', :numero, class:"labelnumerocasa" %>
    <%= f.text_field :numero, class:"inputnumerocasa" %>
  </div>



  <div class="finalizar-edicao">
    <%= f.submit 'Atualizar' %>
  </div>
<% end %>
