
  <section>
      <h1>Clientes</h1>
      <%= link_to (image_tag "user-plus-light.png"), new_cliente_path %>

      <div class='c-search'>
        <form action="/dashboard/clientes" method="get" class="c-pesquisa">
          <input type="text"  placeholder="Pesquisar razão social..." name="search" value="<%= @value_search %>" />
          <button type="submit"><%= image_tag "Pesquisa.svg" %></button>
        </form>
        <a href='/dashboard/clientes'>Listar Todos</a>
      </div>

      <table>
        <thead>
          <tr>
            <th>Código</th>
            <th>Ativo</th>
            <th>Razão Social</th>
            <th>Nome Fantasia</th>
            <th>Ver</th>

          </tr>
        </thead>
        <tbody>
        
          <% @clientes.each do |cliente| %>    
              <tr>               
                <td><%= cliente.id %></td>
                <td><%= cliente.ativo ? "S" : "N" %></td>
                <td><%= cliente.razao_social %></td>
                <td><%= cliente.nome_fantasia %></td>
                <td><%= link_to (image_tag 'eye.png'), cliente %></td>


              </tr>
          <% end %>

        </tbody>
      </table>

  </section>
